<%- include('../partials/head') %>
  </head>
  <body>
      <%- include('../partials/header') %>
      <main class="mt-10">
        <table>
          <thead>
            <tr>
              <th class="border border-black px-3">Username</th>
              <th class="border border-black px-3">Gender</th>
              <th class="border border-black px-3">Email</th>
            </tr>
          </thead>
        
          <tbody>
              <tr>
                  <%= console.log("Users: ", Users.username) %>
                <td class="border border-black px-3"><%= Users.username %></td>
                <td class="border border-black px-3"><%= Users.gender %></td>
                <td class="border border-black px-3"><%= Users.email %></td>
              </tr>
          </tbody>
        </table>
      </main>
  </body>
</html>
